* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: turquoise;
    padding-top: 3%;
    padding-bottom: 3%;
}

 {

}
 main {
    background-color: wheat;
    border-radius: 2vw;

 }

 header {
    padding: 3%;
 }

 footer {
    width: 96%;
    padding: 2%;
    text-align: center;
    color:white;
    background-color: limegreen;
 }

